[submodule "toolbox"]
	path = toolbox
	url = https://github.com/tin-gprieto/toolbox
[submodule "plan_de_estudios/toolbox"]
	path = plan_de_estudios/toolbox
	url = https://github.com/tin-gprieto/toolbox
